<div class="container">
  <h2>Warehouses</h2>
  <ul>
    <li *ngFor="let warehouse of warehouses()">
      {{ warehouse.name }}
      <button (click)="deleteWarehouse(warehouse.id)">Delete</button>
      <button (click)="toggleEditWarehouseForm(warehouse)">Edit</button>
      <button (click)="showDetails(warehouse)">Details</button>
    </li>
  </ul>
  <button (click)="toggleAddWarehouseForm()">Add Warehouse</button>
  <div *ngIf="showAddWarehouseForm">
    <h3>Add Warehouse</h3>
    <form (ngSubmit)="addWarehouse()">
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="newWarehouse.name" name="name" required>
      <label for="location">Location:</label>
      <input id="location" [(ngModel)]="newWarehouse.location" name="location" required>
      <button type="submit">Add</button>
    </form>
  </div>
  <div *ngIf="showEditWarehouseForm">
    <h3>Edit Warehouse</h3>
    <form (ngSubmit)="updateWarehouse()">
      <label for="name">Name:</label>
      <input id="name" [(ngModel)]="selectedWarehouse!.name" name="name" required>
      <label for="location">Location:</label>
      <input id="location" [(ngModel)]="selectedWarehouse!.location" name="location" required>
      <button type="submit">Update</button>
    </form>
  </div>
  <div *ngIf="selectedWarehouse">
    <h3>Warehouse Details</h3>
    <p>ID: {{ selectedWarehouse.id }}</p>
    <p>Name: {{ selectedWarehouse.name }}</p>
    <p>Location: {{ selectedWarehouse.location }}</p>
    <h4>Materials in this Warehouse</h4>
    <ul>
      <li *ngFor="let material of materials()">
        {{ material.name }}
      </li>
    </ul>
  </div>
</div>
